<div id="content">
  <div class="container-fluid">
    <div class="row-fluid">
      <form action="{:U()}" method="POST" class="form-horizontal" style="width:600px;margin:80px auto 0;">
        <div class="form-group">
          <label class="col-sm-2 control-label">手机号</label>
          <div class="col-sm-6">
            <input type="text" name="phone" placeholder="Phone" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">密码</label>
          <div class="col-sm-6">
            <input type="password" name="password" placeholder="Password" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-default">登录</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>