<link rel="stylesheet" href="__PUBLIC__/css/app.comm.css">
<div id="content">
  <div class="container-fluid">
    <form action="{:U()}" method="GET" class="form-inline hide">
      <input type="hidden" name="act" value="filter">
      <div class="input-prepend input-group">
        <span class="add-on input-group-addon">日期范围</span>
        <input type="text" value="" class="form-control date-range" data-stime="{$_REQUEST['stime']}" data-etime="{$_REQUEST['etime']}">
        <input type="hidden" name="stime" value="{$_REQUEST['stime']}">
        <input type="hidden" name="etime" value="{$_REQUEST['etime']}">
      </div>
      <div class="form-group">
        <input type="text" name="kwd" value="{$_REQUEST['kwd']}" placeholder="关键词..." class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">搜索</button>
      <hr>
    </form>
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <div class="chat-user-list msg-user-list">
          </div>
          <hr>
          <div class="input-group">
            <input type="text" name="uid" placeholder="用户UID" class="form-control">
            <span class="input-group-btn chat-user-add">
              <button type="button" class="btn btn-primary">新增会话</button>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="chat-box">
          <div class="chat-logs clearfix">
          </div>
        </div>
        <form class="chat-form">
          <input type="hidden" name="uid" value="0">
          <div class="input-group has-success">
            <input type="text" name="msg" placeholder="回复内容" disabled class="form-control input-lg">
            <div class="input-group-btn dropup">
              <button type="button" class="btn btn-primary chat-form-submit">发送</button>
              <b class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></b>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="chat-close">结束会话</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="chat-logs- clearfix">
<volist name="data['list']" id="v">
<php>
$is_self = $v['sender'] == $_REQUEST['uid'];
</php>
  <div class="media chat-msg{$is_self ? ' chat-myself' : ''}" data-id="{$v['smsid']}">
    <div class="media-body">
      <p class="media-heading chat-info">
        <small class="chat-time">{$v['time']}</small>
        <a href="{:U('view?uid='.$v['sender'].'&tab=tab-user-chat')}" target="_blank" class="label label-primary">{$v['sender']}</a> 对
        <a href="{:U('view?uid='.$v['recver'].'&tab=tab-user-chat')}" target="_blank" class="label label-primary">{$v['recver']}</a> 说：
      </p>
      <p class="chat-text">
<if condition="$v['texttype'] == '2' && $v['text_json']['thumbnailPhotoUrl']">
        <img src="{$v['text_json']['thumbnailPhotoUrl']}" data-src="{$v['text_json']['originPhotoUrl'] ?: $v['text_json']['thumbnailPhotoUrl']}" class="zoom">
<elseif condition="$v['texttype'] == '3' && $v['text_json']['emoticonUrl']"/>
        <img src="{$v['text_json']['emoticonUrl']}" title="{$v['text_json']['emoticonName']}">
<elseif condition="$v['texttype'] == '4' && $v['text_json']['voiceUrl']"/>
        <a href="{$v['text_json']['voiceUrl']}" target="_blank" class="label label-success">[语音] {$v['text_json']['voiceTime']}s</a>
<elseif condition="$v['texttype'] == '5' && $v['text_json']['locationAddress']"/>
        <img src="{$v['text_json']['locationImageUrl']}" class="zoom">
        <br>[位置] {$v['text_json']['locationAddress']}
<else/>
        {$v['text_html'] ?: $v['text']}
</if>
      </p>
    </div>
  </div>
</volist>
    </div>
  </div>
</div>

<script type="text/html" id="tpl-chat-user-item">
  <a class="list-group-item chat-user-item" data-uid="<$=sender$>">
    <b><$=sender$></b><br>
    <small>最后回复:<span class="chat-time-last"><$=time_last$></span></small>
    <span class="badge chat-logs-num"><$=count$></span>
  </a>
</script>

<script type="text/html" id="tpl-chat-log-item">
<$
url = '{:U('user_base/chat_logs')}';
url += /\?/.test(url) ? '&' : '?';
$>
  <div class="media chat-msg<$=is_self ? ' chat-myself' : ''$>" data-id="<$=smsid$>">
    <div class="media-body">
      <p class="media-heading chat-info">
        <small class="chat-time"><$=time$></small>
        <a href="<$=url$>day=30&sender=<$=sender$>&recver=<$=recver$>" target="_blank" class="label label-primary"><$=sender$></a> 对
        <a href="<$=url$>day=30&sender=<$=recver$>&recver=<$=sender$>" target="_blank" class="label label-primary"><$=recver$></a> 说：
      </p>
      <p class="chat-text">
<$
if(texttype == '2' && text_json && text_json.thumbnailPhotoUrl)
{
$>
        <img src="<$=text_json.thumbnailPhotoUrl$>" data-src="<$=text_json.originPhotoUrl || text_json.thumbnailPhotoUrl$>" class="zoom">
<$
}
else if(texttype == '3' && text_json && text_json.emoticonUrl)
{
$>
        <img src="<$=text_json.emoticonUrl$>" title="<$=text_json.emoticonName$>">
<$
}
else if(texttype == '4' && text_json && text_json.voiceUrl)
{
$>
        <a href="<$=text_json.voiceUrl$>" target="_blank" class="label label-success jplayer-voice">[语音] <$=text_json.voiceTime$>s</a>
<$
}
else if(texttype == '5' && text_json && text_json.locationImageUrl)
{
$>
        <img src="<$=text_json.locationImageUrl$>" class="zoom">
        <br>[位置] <$=text_json.locationAddress$>
<$
}
else if(text_json && text_json.text)
{
  tip = {body:text_json.text};
$>
        <$==text_json.text$>
<$
}
else
{
$>
        <$==text_html || text$>
<$
}
$>
      </p>
    </div>
  </div>
</script>

<script>window.JSON || document.write('<script src="//cdn.bootcss.com/json2/20150503/json2.min.js"><\/script>');</script>
<script src="__PUBLIC__/js/artTemplate-v3.0.0.js"></script>
<script src="__PUBLIC__/js/app.comm.js"></script>
<script>
$(document).on('require.ready',function()
{

  window.Chat =
  {
    sender:10001,
    recver:0,
    users:{},
    chats:{},
    route:
    {
      get_users       : '{:U('get_users')}',
      get_chats       : '{:U('get_chats')}',
      get_chats_rtime : '{:U('get_chats_rtime')}',
      send            : '{:U('send')}',
      close_chat      : '{:U('close_chat')}'
    },
    days:parseInt('{$_REQUEST['day'] ?: $_REQUEST['days']}') || 7,
    time:new Date().getTime()
  };

  $('body')
  // 获取聊天记录
  .on('click','.chat-user-item[data-uid]',function()
  {
    var the = $(this),
        uid = parseInt(the.attr('data-uid')) || 0;
    the.addClass('active').removeClass('list-group-item-danger').trigger('chat-query')
    .siblings().removeClass('active');
    $('.chat-form').find('[name="uid"]').val(uid)
    .end().find(':disabled').removeAttr('disabled');
  })
  .on('chat-query','[data-uid]',function()
  {
    var the = $(this),
        box = $('.chat-logs'),
        tip = box.find('.tip-msg'),
        lst = $(),
        uid = parseInt(the.attr('data-uid')) || 0,
        day = parseInt(the.attr('data-day')) || Chat.days;
    if(!uid) return false;
    box.empty();
    tip.length || (tip = $('<h3/>').addClass('tip-msg').prependTo(box));
    tip.html('加载中...');
    $.ajax(
    {
      url:Chat.route.get_chats,
      data:{ajax:1,uid:uid,day:day},
      dataType:'json'
    })
    .done(function(data)
    {
      var dat = data.data || {};
      $.each(dat.list || {},function(i,v)
      {
        v.is_self = v.sender == Chat.sender;
        v.text_json || (v.text_json = {});
        lst = lst.add($(template('tpl-chat-log-item',v)).appendTo(box));
      });
      if(lst.length) tip.remove();
      else tip.html('暂无记录！');
      $('.chat-user-item[data-uid="' + uid + '"]').find('.chat-logs-num').html(lst.not('.chat-myself').length)
      .end().find('.chat-time-last').text(lst.last().find('.chat-time').text());
      $(window).trigger('resize');
    });
    return false;
  })
  // 实时消息接收
  .on('chat-rtime-query','.chat-logs',function()
  {
    var box = $(this);
    $.ajax(
    {
      url:Chat.route.get_chats_rtime,
      data:{ajax:1},
      dataType:'json'
    })
    .done(function(data)
    {
      var dat = data.data || {},
          uls = $('.chat-user-item');
      $.each(dat.list || {},function(i,v)
      {
        var uid = parseInt(v.sender) || 0,
            the = uls.filter('[data-uid="' + uid + '"]'),
            num = the.find('.chat-logs-num'),
            cnt = parseInt($.trim(num.text())) || 0,
            tip = false;
        v || (v = {});
        v.text_json || (v.text_json = {});
        if     (v.texttype == '2' && v.text_json.thumbnailPhotoUrl) tip = {icon:v.text_json.thumbnailPhotoUrl};
        else if(v.texttype == '3' && v.text_json.emoticonUrl)       tip = {icon:v.text_json.emoticonUrl};
        else if(v.texttype == '4' && v.text_json.voiceUrl)          tip = {body:'语音消息'};
        else if(v.texttype == '5' && v.text_json.locationImageUrl)  tip = {body:v.text_json.locationAddress,icon:v.text_json.locationImageUrl};
        else if(v.text_json.text)                                   tip = {body:v.text_json.text};
        else if(v.text)                                             tip = {body:v.text};
        if(!uid);
        else if(the.length)
        {
          num.text(cnt + 1);
          if(the.is('.active'))
          {
            box.append(template('tpl-chat-log-item',v));
            $(window).trigger('resize');
          }
          else the.addClass('list-group-item-danger');
        }
        else
        {
          the = $(template('tpl-chat-user-item',{sender:v.sender,count:0})).insertAfter(uls.last());
          the.addClass('list-group-item-danger');
          num = the.find('.chat-logs-num');
          num.text(cnt + 1);
        }
        v.time && the.find('.chat-time-last').text(v.time);
        // 桌面提醒
        if(window.Notification && uid && tip)
        {
          var ntf = new Notification(uid + ' 说：',tip);
          ntf.onshow = function()
          {
            ntf.close && setTimeout(function(){ ntf.close(); },5000);
          };
          ntf.onclick = function()
          {
            window.focus();
            $('.chat-user-item[data-uid="' + uid + '"]').trigger('click');
          };
        }
      });
    });
    return false;
  })
  .on('chat-reset','.chat-logs',function()
  {
    $(this).html('<h3 class="text-center tip-msg">请选择联系人</h3>');
    $('.chat-user-item.active').removeClass('active');
    return false;
  })

  // 新增会话
  .on('click','.chat-user-add',function()
  {
    var uid = $(this).siblings('[name="uid"]').val(),
        box = $('.chat-user-list');
    if(uid) box.find('[data-uid="' + uid + '"]').length || $(template('tpl-chat-user-item',{sender:uid,count:''})).appendTo(box).click();
  })
  // 结束会话
  .on('click','.chat-close',function()
  {
    var the = $('.chat-user-item.active'),
        uid = the.attr('data-uid');
    $.ajax(
    {
      url:Chat.route.close_chat,
      type:'POST',
      data:{uid:uid},
      dataType:'json'
    })
    .done(function(data)
    {
      if(!data.ret)
      {
        the.remove();
        $('.chat-logs').trigger('chat-reset');
      }
    });
  })

  // 获取用户列表
  .on('chat-user-query','*',function()
  {
    var the = $(this),
        box = the.empty(),
        tip = box.find('.tip-msg'),
        lst = $();
    tip.length || (tip = $('<h3/>').addClass('tip-msg').prependTo(box));
    tip.html('加载中...');
    $.ajax(
    {
      url:Chat.route.get_users,
      data:{ajax:1,day:Chat.days},
      dataType:'json'
    })
    .done(function(data)
    {
      var dat = data.data || {};
      $.each(dat.list || {},function(i,v)
      {
        v.is_self = v.sender == Chat.sender;
        lst = lst.add($(template('tpl-chat-user-item',v)).appendTo(box));
      });
      if(lst.length) tip.remove();
      else tip.html('暂无记录！');
    });
    setInterval(function()//setInterval
    {
      $('.chat-logs').trigger('chat-rtime-query');
    },1000 * 5);
    return false;
  })

  // 发送消息
  .on('click','.chat-form-submit',function()
  {
    $(this).parents('form:first').trigger('submit');
  })
  .on('submit','.chat-form',function()
  {
    var the = $(this),
        ipt = the.find('[name="msg"]'),
        uid = the.find('[name="uid"]').val(),
        msg = ipt.val();
    if(ipt.is('[disabled]')) return false;
    ipt.attr('disabled',true);
    $.ajax(
    {
      url:Chat.route.send,
      type:'POST',
      data:{ajax:1,uid:uid,msg:msg},
      dataType:'json'
    })
    .done(function(data)
    {
      data.msg && require(['messenger-future'],function()
      {
        Messenger.options = {extraClasses:'messenger-fixed messenger-on-top messenger-on-right'};
        Messenger().post(
        {
          type:data.ret == 0 ? 'success' : 'error',//info
          message:data.msg,
          showCloseButton:true
        });
      });
      if(!data.ret) require(['moment'],function(moment)
      {
        var dat =
        {
          smsid:0,
          sender:Chat.sender,
          recver:uid,
          text:msg,
          time:moment().format('YYYY-MM-DD HH:mm:ss'),
          is_self:true
        };
        $('.chat-logs').append(template('tpl-chat-log-item',dat));
        ipt.val('');
        $(window).trigger('resize');
      });
    })
    .always(function()
    {
      ipt.removeAttr('disabled');
    });
    return false;
  });

  $(window)
  .on('resize',function()
  {
    var box = $('.chat-box'),
        hei = $(this).height() - box.offset().top - 100;
    box.height(hei);
    $('.chat-user-list').css('max-height',hei);
    setTimeout(function(){ box.animate({scrollTop:box.find('.chat-logs').height()},500); },100);
  })
  .trigger('resize');

  $('.chat-user-list').trigger('chat-user-query');
  $('.chat-logs').trigger('chat-reset');
  $('.chat-form').find('[name="msg"]').attr('disabled',true)
  .end().find('[name="uid"]').val(0);
  if(window.Notification && Notification.permission != 'granted') Notification.requestPermission();
});
</script>