<div id="sidebar">
    <ul>
    <li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'admin_task'">active</if>">
    <a href="#"><i class="icon icon-th-list"></i> <span>车辆认证</span> </a>
    <ul <if condition="(strtolower($Think.const.CONTROLLER_NAME) eq 'admin_task') OR (strtolower($Think.const.CONTROLLER_NAME) eq 'certificate_car')">style="display:block"</if>>
    <li><a href="{:U('CertificateCar/index',array('menu'=>'admin_task','type'=>'unprocessed'))}">等待审核</a></li>
    </ul>
    </li>

    <li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'admin_task'">active</if>">
    <a href="#"><i class="icon icon-th-list"></i> <span>视频认证</span> </a>
    <ul <if condition="(strtolower($Think.const.CONTROLLER_NAME) eq 'admin_task') OR (strtolower($Think.const.CONTROLLER_NAME) eq 'certificate_video')">style="display:block"</if>>
    <li><a href="{:U('CertificateVideo/index',array('menu'=>'admin_task','type'=>'unprocessed'))}">等待审核</a></li>
    </ul>
    </li>

    <!--<li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'admin_task'">active</if>">
    <a href="#"><i class="icon icon-th-list"></i> <span>举报</span> </a>
    <ul <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'admin_task'">style="display:block"</if>>
    <li><a href="{:U('AccusationFactory/index',array('menu'=>2,'type'=>1))}">等待处理</a></li>
    </ul>
    </li>-->

    <li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'admin_task'">active</if>">
    <a href="#"><i class="icon icon-th-list"></i> <span>举报</span> </a>
    <ul <if condition="(strtolower($Think.const.CONTROLLER_NAME) eq 'admin_task') OR (strtolower($Think.const.CONTROLLER_NAME) eq 'accusation')">style="display:block"</if>>
    <li><a href="{:U('Accusation/index',array('menu'=>'admin_task','type'=>'unprocessed'))}">等待处理</a></li>
    </ul>
    </li>

    <li class="submenu <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'task_hall'">active</if>">
    <a href="#"><i class="icon icon-th-list"></i> <span>用户反馈</span> </a>
    <ul <if condition="strtolower($Think.const.CONTROLLER_NAME) eq 'admin_task'">style="display:block"</if>>
    <li><a href="{:U('FeedbackFactory/index',array('menu'=>'admin_task','type'=>'unprocessed'))}">等待处理</a></li>
    </ul>
    </li>
    </ul>
</div>