<form role="form" class="form-horizontal m-t" method="post" enctype="multipart/form-data">

    <div class="form-group draggable ui-draggable">
        <label class="col-sm-3 control-label">用户UID：</label>
        <div class="col-sm-9">
            <label class="radio-inline" style="padding-left:0px">
                <input type="text" name="uid"   class="laydate-icon form-control" placeholder="选择时间" value="">
            </label>
        </div>
        <label class="col-sm-3 control-label">密码：</label>
        <div class="col-sm-9">
            <label class="radio-inline" style="padding-left:0px">
                <input type="text" name="pwd"   class="laydate-icon form-control" placeholder="选择时间" value="">
            </label>
        </div>
        <div style="width:50%;text-align: center" >
             <button class="btn btn-primary" type="submit" id="saved">确定</button>
        </div>
    </div>



</form>