<link rel="stylesheet" href="__PUBLIC__/css/app.comm.css">
<div id="content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="clearfix">
        <form action="{:U('offline_data')}" method="POST" enctype="multipart/form-data" class="form-inline pull-left">
          <div class="form-group">
            <label>选择文件:</label>
            <input type="file" name="file" data-multiple data-accept="image/jpeg,.jpeg,image/png,image/gif">
          </div>
          <button type="submit" class="btn btn-primary">导入</button>
          <div class="btn-group">
            <span class="btn btn-white">导入数：{:count($data['phones'])}</span>
            <span class="btn btn-white">匹配数：{:count($data['list'])}</span>
          </div>
        </form>
        <form id="form_save" action="{:U('offline_data_save')}" method="POST" enctype="multipart/form-data" class="form-inline pull-right">
          <div class="form-group">
            <label>广告序列号:</label>
            <input type="text" name="serial" value="{$data['serial']}" placeholder="如：dt1" class="form-control">
          </div>
          <div class="form-group">
            <select name="pkg_id" class="form-control">
              <option value="">安装包</option>
<volist name="data['pkgs']" id="v">
<php>
$oss = ['安卓','IOS'];
</php>
              <option value="{$v['id']}"<php>echo $_REQUEST['pkg_id'] == (string)$v['id'] ? ' selected' : '';</php>>{$oss[$v['pkg_device']]} {$v['pkg_name']} ({$v['pkg_version']})</option>
</volist>
            </select>
          </div>
          <button type="submit" class="btn btn-success">确认提交</button>
          <a href="{:U('analy/user_stat?rdrs_type=dt')}" class="btn btn-primary">行为统计</a>
        </form>
      </div>
      <hr>

      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th>用户ID</th>
              <th>昵称</th>
              <th>性别</th>
              <th>手机号</th>
              <th>分值</th>
              <th>设备ID</th>
              <th>注册时间</th>
              <th>活跃时间</th>
              <th>注册渠道</th>
            </tr>
          </thead>
          <tbody class="list-user">
<volist name="data['list']" id="v">
<php>$sex = $v['sex'];</php>
            <tr class="gradeX form-sub">
              <td>
                <label>
<if condition="!$data['isok']">
                  <input type="checkbox" name="ids[]" value="{$v['uid']}" {$data['isok'] ? 'disabled' : 'checked'} form="form_save">
</if>
                  {$v['uid'] ?: ''}
                </label>
              </td>
              <td><a href="{:U('UserBase/view?uid='.$v['uid'])}" target="_blank">{$v['nickname'] ?: ''}</a></td>
              <td>{$Think.config.USER_SEX_IS.$sex}</td>
              <td class="field-phone" data-phone="{$v['phone']}">{$v['phone']}</td>
              <td>{$v['score']}</td>
              <td<php>echo $v['device_id'] && count($data['devices'][$v['device_id']]) >= 2 ? ' class="text-danger"' : '';</php>>{$v['device_id'] ?: '-'}</td>
              <td>{:date('Y-m-d H:i:s',$v['reg_time'])}</td>
              <td>{$v['active_time'] ? date('Y-m-d H:i:s',$v['active_time']) : '-'}</td>
              <td>{$v['pkg_channel']}</td>
            </tr>
</volist>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pagination alternate">
      <ul>
        <li style="text-align:center;color:#00f">{$page}</li>
      </ul>
    </div>
  </div>
</div>
<script src="__PUBLIC__/js/app.comm.js"></script>
<script>
window.offline_phones = {:json_encode($data['phones'] ?: [])};

$(document).on('require.ready',function()
{
  $('body');

  (function()
  {
    var box = $('.list-user');
    $.each(offline_phones || [],function(i,tel)
    {
      var reg = new RegExp(tel + '$'),
          obj = box.find('.field-phone:contains("' + tel + '")').regexp(reg);
      if(obj.length) obj.html(function()
      {
        var the = $(this),
            old = the.text();
        return old.replace(reg,'<b class="text-' + (obj.length > 1 ? 'danger' : 'success') + '">' + tel + '</b>');
      });
      else box.append('<tr><td colspan="99">' + tel + '</td></tr>');
    });
  })();
});
</script>