 
<div id="content">
   
    <!--end-main-container-part-->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="widget-box">


                    <form class="form-horizontal" id="form-search" style="float:left;width:60%">
                        <div class="controls"> 
                            <select id="form-search-type" class="form-control m-b" style="width:110px;float:left">
                                <option value=1>按id</option>
                                <option value=2>按车型</option>
                            </select>
                            <div class="col-md-2"><input type="text" name="keyword" id="form-search-key" class="form-control"></div> 
                            <input type="submit" class="btn btn-primary btn-sm" value="搜索">
                        </div>
                    </form>
                    <div class="col-lg-4" style="float:right;width:40%">
                        <div class="col-xs-9 text-right ">
                            <h2 class="font-bold">{$brand['name']}</h2>
                        </div>
                    </div>

                <div class="widget-content nopadding">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>车型</th>
                            <th>品牌</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list" id="vo">
                            <tr class="gradeX">
                                <td>{$vo.id}</td>
                                <td style="text-align:center">{$vo.name}</td>
                                <td style="text-align:center">{$vo.modelName}</td>
                                <td style="text-align:center">
                                    <a href="{:U('ContentManage/add_car_model/')}" class="btn btn-primary btn-mini">添加</a>
                                    <!--<a href="{:U('Car/edit/', array('id'=>$vo['id']))}" class="btn btn-primary btn-mini">修改</a>-->
                                    <!--<a href="{:U('Car/delete/', array('id'=>$vo['id']))}" class="btn btn-primary btn-mini">删除</a>-->
                                </td>
                            </tr>
                        </volist>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="pagination alternate">
            <ul>
                <li style="text-align: center;color: #0000ff">{$page}</li>
            </ul>
        </div>
    </div>
</div>
 
<script type="text/javascript">
    $(function(){
        $('#form-search').on('submit',function() {
            var key = $('#form-search-key').val();
            var searchType = $('#form-search-type option:selected').val();
            location.href="{:U('ContentManage/car_model')}?type="+searchType+"&keyword="+key;
            return false;
        });
    });
</script>
 