 
<div id="content">
    <div class="container-fluid">
        <div class="widget-box">
            <div class="widget-content tab-content form-group">
                <label>给用户发送短信</label>
                <hr noshade color="#0066cc">
                <div class="control-group">
                    <form action="" method="post" >
                        <div class="controls">
                            用户手机号： <br/><input type="text" name="phone" value="" class="form-control" style="width:500px" />
                        </div>
                        <div class="controls">
                            短信内容： <select name="content" multiple="multiple" style="width:500px;height:100px;display:block" class="form-control" >
                                         <option  value="<初见用户邀请函>您好，我们是初见APP的管理团队，我们荣幸地告知您，您被我们选中为金牌用户，获得了参加我们第三次线下快乐聚会的资格，通过这次活动，我们希望能够更好地聆听您的声音，让初见上真实的陌生人彼此遇见。时间：3月27日18:00，地点：淮海东路99号2楼215室 (地铁8号线大世界)，我们的工作人员稍后将会给您致电进行落实。">
                                         <初见用户邀请函>您好，我们是初见APP的管理团队，我们荣幸地告知您，您被我们选中为金牌用户，获得了参加我们第三次线下快乐聚会的资格，通过这次活动，我们希望能够更好地聆听您的声音，让初见上真实的陌生人彼此遇见。时间：3月27日18:00，地点：淮海东路99号2楼215室 (地铁8号线大世界)，我们的工作人员稍后将会给您致电进行落实。</option>
                                         <option  value="初见">初见</option>
                                         
                                      </select>

                                      

                        </div>
                        <input class="btn btn-success submit" type="submit"  value="发送" > 
                    </form>
                </div>
            </div>
        </div>
    </div>

</div> 