<!DOCTYPE html>
 
<div id="content">
    <div class="container-fluid">
        <div class="widget-box">
            <div class="widget-content tab-content">
                <label>短信平台剩余费用</label>
                <!-- <hr noshade color="#0066cc">
                <div class="control-group">
                    <label class="control-label">剩余短信条数：</label>
                    <div class="controls">
                        <input style="border: 0" name="uid" value="{$list}" readonly/>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-envelope-o fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> 剩余条数 </span>
                    <h2 class="font-bold">{$list}</h2>
                </div>
            </div>
        </div>
    </div>




</div> 