 
<div id="content">
    
    <!--Action boxes-->
    <div class="container-fluid">
        <div class="quick-actions_homepage">
        </div>

        <div class="widget-content tab-content">
            <hr noshade color="#0066cc">
            <div class="control-group">
                <p>车辆认证未分配任务量:{$list.certificate_car_count}</p>
                <p>视频认证未分配任务量:{$list.certificate_video_count}</p>
                <p>举报业务未分配任务量:{$list.accusation_count}</p>
            </div>
        </div>
 
        </div>
    </div>  