<div class="widget-content nopadding">

    <table id="accusation_table" class="table table-bordered">

        <volist name="list.class"  id="vo">
             <thead>
                 <tr>
                     <th  style="text-align:center" class="btn btn-white">分类：{$vo.name}</th>
                     <th  style="text-align:center" class="btn btn-white add-tag" v="{$vo.id}">添加</th>
                 </tr>
                 <td>
                     <ul class="tag-list" style="padding: 0" id="rtag{$vo.id}">
                         <volist name="list.list"  id="vos">
                            <if condition="$vos['tag_class_id'] eq $vo['id'] " >
                                <li><a href="javascript:void(0)"> {$vos.title} <i v="{$vos.id}" class="fa fa-times d-tag"></i></a></li>
                            </if>
                         </volist>
                    </ul>
                 </td>
             </thead>

        </volist>
        <!--<a  class="btn btn-danger btn-sm" >放弃 <i class="fa fa-times"></i></a>-->
    </table>
</div>

<script src="/Public/layer/layer.min.js" type="text/javascript"></script>
<script src="/Public/layer/extend/layer.ext.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function(){
        $('.add-tag').click(function(){
            var classid = $(this).attr('v');
            var al = layer.prompt({title:"输入名称！",length:7}, function(title){
                $.post("{:U('recommend/addsystag')}",{title:title,classid:classid},function(data){
                    if(data!='no'){
                        var html = '<li><a href="javascript:void(0)"> '+title+' <i v="'+data+'" class="fa fa-times d-tag"></i></a></li>';
                        $('#rtag'+classid).append(html);
                        layer.close(al);
                    }else{
                        layer.msg('添加失败！');
                    }
                });

            });
        });

        $('.d-tag').on('click',function(){
            var id    = $(this).attr('v');
            var _this = $(this);
            var cye = layer.confirm('你确定要删除么？',function(){
                $.post("{:U('recommend/deltagsys')}",{id:id},function(data){
                    if(data=='ok'){
                        _this.parent().parent().empty();
                        layer.close(cye);
                    }
                });
            });

        });



    });


</script>



